<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1 style=" font-family:sans-serif; color:red;">Welcome to our game!</h1>

<form action="/madlib">
Enter your name:
<input type="text" name="person"><br>
Select color:<br>
<select name="color">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="black">Black</option>
</select><br>
Enter noun:
<input type="text" name="noun"><br>
Enter adjective:
<input type="text" name="adjective"><br>
<input type="submit">
</form>



</body>
</html>
